html{
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
    background-image: url(../img/bgWelcome.png);
}
.welcome{
    height: 100%;
    background-image: url(../img/blackBgcubes.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}
.headerCls{
    display: flex;
    justify-content: space-between;
}
.afterContainer{
    height: 100%;
}
.boxSecondHour{
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 20%;
    box-shadow: 0px 0px 30px 20px #67180173;
    background-color: rgb(0 0 0 / 40%);
}
.logoImg{
    cursor: pointer;
    margin-top: 50px;
    height: 300px;
}
.logoImg:hover{
    height: 330px;
}
.coronaImg{
    width: 130px;
}
.videoContainer{
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.rolexVideo{
    width: 60%;
    box-shadow: 0px 0px 30px 20px #67180173;
}
.goldenImgs{
    width: 200px;
}
.containerOfSelection{
    display: grid;
    justify-content: center;
}
.selectType{
    background-color: #67180173;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
}
.typeOfRolex{
    margin: 0 30px;
    font-size: 40px;
    cursor: pointer;
}
.relojesImgs{
    background-color: #67180173;
    display: flex;
    justify-content: center;
}
.menuImg{
    right: 0;
    margin: 20px;
    width: 50px;
}
/* .menuImg:hover{
    rotate: 180deg;
} */
.selectGolden:hover{
    color: #c08801b8;
}
.selectSilver:hover{
    color: #d6cfbdb8;
}
.selectExclusive:hover{
    color: #c00101b8;
}
.selectWoman:hover{
    color: #b0057ab8;
}
.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.clockImg{
    height: 500px;
    position: relative;
}
.navSelector{
    padding: 15px;
    width: 90px;
    background-image: linear-gradient(to right, #c9350345, black);
    border-radius: 10px;
    box-shadow: 0px 0px 30px 20px #67180173;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 100px;
    z-index: 2;
}

.hoursHand{
    width: 8%;
    height: 8px;
    background-color: rgb(0, 0, 0);
}
.minutesHand{
    width: 12%;
    height: 5px;;
    background-color: rgb(0, 0, 0);
    z-index: 4;
}
.secondsHand{
    width: 12%;
    height: 2px;
    background-color: rgb(255, 1, 1);
    z-index: 5;
}
.circle{
    background: #000000;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 30px 30px;
    z-index: 6;
    position: absolute;
}
.line{
    position: absolute;
    left: 50%;
    border-top-right-radius: 100%;
    transform-origin: left;
    border-bottom-right-radius: 100%;
    rotate: -90deg;
}
.hide{
    display: none;
}